.separatorH {
  width: var(--border-width);
  border-left: var(--border-width) solid var(--border-default);
}
.separatorH::before {
  content: '';
  position: absolute;
  inset: 0 -var(--space-xs);
}

.separatorV {
  height: var(--border-width);
  border-top: var(--border-width) solid var(--border-default);
}
.separatorV::before {
  content: '';
  position: absolute;
  inset: -var(--space-xs) 0;
}
