/* --- TabList --- */

.tab {
  padding: var(--space-xs) var(--space-md);
  font-size: var(--text-md);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  border-bottom: var(--indicator-width) solid transparent;
}

.tabFocused {
  color: var(--text-bright);
  border-bottom-color: var(--primary);
}

.tabSelected {
  font-weight: var(--weight-semi);
}
