.container {
  overflow: auto;
  height: 100%;
}

.pre {
  margin: 0;
  position: relative;
}


.spacer {
  flex-shrink: 0;
}

.gutter {
  display: inline-block;
  padding-right: 1em;
  text-align: right;
  user-select: none;
  opacity: 0.65;
}
