.container {
  overflow: auto;
  height: 100%;
}

.pre {
  margin: 0;
  background: var(--surface-base);
  position: relative;
}

.code {
  display: flex;
  flex-direction: column;
}

.spacer {
  flex-shrink: 0;
}

.gutter {
  display: inline-block;
  padding-right: 1em;
  text-align: right;
  color: var(--text-muted);
  font-size: var(--type-code-size);
  user-select: none;
  opacity: 0.65;
}
